div.superior {
    background-color:gray;
    height: 20%;
    
}


body {

background-image: url("proyectofondo.png");
background-repeat:inherit;

}

div.centrado{


font-family:sans-serif;
color:lightgreen;
}
div.centrado2{

   
font-family:sans-serif;
color:lightgreen;
}
div.botones{
    overflow:auto;
   position:fixed;
font-family:sans-serif;
color:lightgreen;
}

h1 {
    padding-top:9%;
    color: #91D400;
    text-align: center;
    font-family:'Comic Sans MS';
    position:center;
     font-size:45px;
}
h2 {
    background-size:auto;
    color: grey;
    text-align: center;
    font-family:'Comic Sans MS';
     font-size:17px;
}

h3 {
    color: white;
    text-align: center;
    font-family:'Comic Sans MS';

}


h4 {

    background:url(botonblanco.png);
    background-position-y:center;

     font-family:'Comic Sans MS';
     font-size:auto;
      color: #91D400;
     
}
table {   
        border:0;
	
		width:auto;
		margin:auto;
		table-layout:fixed;
	 }

	th {   

		border:0;
		
	 }
	 td {   
		border:0;
    
	 
	 }


table tr:nth-child(2) {
  text-align: center;
}

table tr:nth-child(3) {
  text-align: center;
}
table tr:nth-child(4) {
  text-align: center;
}
table tr:nth-child(5) {
  text-align: center;
}

input {
    background: url("botonverde.png");
    background-size:185%;

    border:1;
    width:inherit;
    font-family:'Comic Sans MS';
    color:white;
    border-radius: 115px;
    background-position:center;
    width:350px;
    height:60px;
    font-size:30px;

}
img {
 
}
div.centradoconpaddingbox{
width:400px;
background-color:red;
margin:auto;
padding:1%;

}